.grid-item .grid-content { height: 285px; }
.grid-item:hover { background: none; }
h3 { margin-bottom: 1rem; }
a:link, a:visited { color: navy; }

/*checking borders*/

.container{
/*    background: pink;*/
}

.grid-content{
	border:solid 1px cyan;
}
/*CE this is lame*/
h3{font-size:200%} 